<nav class="navbar p-4 navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" ><img src="../../assets/images/voda.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li *ngFor="let user of myUsers let i = index"  [class.active]="selectedIndex === i"   class="nav-item">
            <a (click)="getuserById(user.id,i,user.username)" class="nav-link" >{{user.username}}</a>
          </li>

        </ul>
     
      </div>
    </div>
  </nav>
